/* =================== typo =================== */
/* noto sans kr */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: local("noto sans kr black"), local("Noto Sans KR Black"),
    url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 600;
  src: local("noto sans kr bold"), local("Noto Sans KR Bold"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 500;
  src: local("noto sans kr medium"), local("Noto Sans KR Medium"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: local("noto sans kr regular"), local("Noto Sans KR Regular"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 300;
  src: local("noto sans kr light"), local("Noto Sans KR Light"),
    url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 200;
  src: local("noto sans kr demilight"), local("Noto Sans KR DemiLight"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 100;
  src: local("noto sans kr thin"), local("Noto Sans KR Thin"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype");
}

:root {
  font-family: "Roboto", "noto", sans-serif !important;
  word-break: break-all;
  font-size: 16px;
  line-height: 1.15;
  color: #01152f;
  letter-spacing: -0.0625rem;
  stroke-width: 0;
}
