/* =================== header =================== */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  &__inner {
    position: relative;
    max-width: 96.25rem;
    height: 5.8125rem;
    margin: 0 auto;
    &--link-list {
      @include pos-abs-center-vertical();
      display: flex;
      right: 7.9375rem;
    }
    &--link-item {
      padding: 0 1.6875rem;
      &:last-of-type {
        padding-right: 0;
      }
    }
    &--link {
      @include font-op($c: #fff, $w: bold) {
        font-size: 1.25rem;
        line-height: 1;
      }
    }
    &--language {
      display: flex;
      align-items: center;
      @include pos-abs-center-vertical();
      right: 0;
      select {
        color: #fff;
      }
      .is-img {
        width: 1.625rem;
        height: 1.625rem;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.logo {
  @include pos-abs-center-vertical();
}

/* =================== footer =================== */
.footer {
  padding-top: 95px;
  padding-bottom: 34px;
  background: #01152f;
  &__inner {
    &--top {
      display: flex;
      &-left {
        width: 21.5%; /* 232/1080 */
        img {
          width: 80px;
          height: 35px;
        }
      }
      &-right {
        width: calc(100% - 21.5%);
        .address__info {
          display: flex;
          width: 100%;
          &--column {
            margin-right: 9.9375rem;
            @include font-op($c: rgba(255, 255, 255, 0.4), $w: 500) {
              font-size: 1.125rem;
              line-height: 1.75rem;
            }

            &:nth-of-type(3) {
              margin-right: 0;
            }
          }
        }
      }
    }
    &--bottom {
      margin-top: 3.125rem;
      margin-bottom: 0.25rem;
      text-align: center;
      @include font-op($c: #505e70) {
        font-size: 0.8125rem;
        line-height: 1;
      }
      .copy {
        margin-top: 0.3125rem;
        display: block;
        @include font-op($c: rgba(80, 94, 112, 0.6)) {
          font-size: 0.8125rem;
        }
      }
    }
  }
}
