@include media(web) {
  html {
    font-size: 13px !important;
  }
  .what-do.active {
    transform: scale(1);
  }
}
@include media(tab) {
  html {
    font-size: 12px !important;
  }
}
@include media(mb) {
  html {
    font-size: 10px !important;
  }
}
@include media-custom(321px) {
  html {
    font-size: 9px !important;
  }
}
